<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("./components/root/seo.html"); %>
	<%- include("./components/root/globals.html"); %>
	<script>
		const MODE = "<%- mode %>"
	</script>
  <script defer src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css" />
</head>
<body>
	<div id="app">
    <main>
      <h1>ultimate-proxy</h1>
      <input placeholder="example.com" />
      <div class="app-options">
        <div>
          <a href="/help">
            <i class="fas fa-question"></i>
          </a>
          <a href="https://github.com/nathan-pham/ultimate-proxy">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <button>let's go</button>
      </div>
    </main>
	</div>
</body>
</html>